---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wireguard-config-pvc
  labels:
    app: wireguard
spec:
  storageClassName: {{ wireguard_storageclass.stdout | default(wireguard_storageclass) }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi
